### Portfolio assignment 5
- Download lifeExpectancyAtBirth.csv from Brightspace ([original source](https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete?select=lifeExpectancyAtBirth.csv)).
- Move the file to the same folder as the Notebook that you will be working in.
- Load the dataset in your Notebook with the following code: lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
- Look at the dataset with the .head() function.
- Filter the dataframe: We only want the life expectancy data about 2019 and 'Both sexes'
- Use this dataframe to perform a univariate analysis on the life expectancy in 2019.
- Which five countries have the highest life expectancy? Which five the lowest?

Commit the notebook and dataset to your portfolio when you're finished.

In [1]:
import pandas as pd

In [2]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [3]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [4]:
FilteredList = lifeExpectancy[(lifeExpectancy['Period'] == 2019) & (lifeExpectancy['Dim1'] == "Both sexes")]

In [5]:
FilteredList.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45

In [6]:
FilteredList[(FilteredList['First Tooltip'] >= 84)]

,Location,Period,Indicator,Dim1,First Tooltip
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26

### Je kunt hieruit opmaken dat enkel in Japan de gemiddelde levensverwachting meer dan 84 jaar is.

In [7]:
FilteredList.sort_values('First Tooltip', ascending = False)

,Location,Period,Indicator,Dim1,First Tooltip
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26
1897,Switzerland,2019,Life expectancy at birth (years),Both sexes,83.45
1573,Republic of Korea,2019,Life expectancy at birth (years),Both sexes,83.30
1837,Spain,2019,Life expectancy at birth (years),Both sexes,83.22
1753,Singapore,2019,Life expectancy at birth (years),Both sexes,83.22
...,...,...,...,...,...
1333,Mozambique,2019,Life expectancy at birth (years),Both sexes,58.14
661,Eswatini,2019,Life expectancy at birth (years),Both sexes,57.73
1801,Somalia,2019,Life expectancy at birth (years),Both sexes,56.47
373,Central African Republic,2019,Life expectancy at birth (years),Both sexes,53.10
1117,Lesotho,2019,Life expectancy at birth (years),Both sexes,50.75

### Je kunt hieruit opmaken welke 5 landen de hoogste gemiddelde levensverwachting hebben en welke 5 de laagste